<article class="addCmtArt">
  <h2>Add a new comment</h2>
  <ion-list style="width: 100% ;">
    <ion-item class="ionItm">
      <ion-label position="floating">Author</ion-label>
      <ion-input [(ngModel)]="author" type="text" aria-label="Autor"></ion-input>
    </ion-item>
    <ion-item class="ionItm">
      <ion-label position="floating">Comment</ion-label>
      <ion-textarea [(ngModel)]="commentText" aria-label="Comment"></ion-textarea>
    </ion-item>
    <ion-item class="ionItm">
      <ion-label position="floating">Stars</ion-label>
      <ion-range [(ngModel)]="stars" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="0"
        [max]="5"></ion-range>
    </ion-item>
  </ion-list>
  
  <ion-button (click)="sendComment()">Add</ion-button>
</article>