<section>
  
  <article style="width:500px;" *ngIf="this.comments">
    <h2>Comments</h2>
    <h3 *ngIf="this.comments.length === 0"> There are no comments yet</h3>
    <ion-list *ngIf="this.comments.length > 0">
      <ion-item *ngFor="let comment of comments">
        <ion-card style="width:100%;">
          <ion-header>
            <ion-card-subtitle>Author: {{comment.author}}</ion-card-subtitle>
            <ion-card-title>{{comment.commentText}}</ion-card-title>
          </ion-header>
          <ion-card-content>
            <app-star-rating [estrellas]="comment.stars"></app-star-rating>
            <div>
              <span>{{parseDate(comment.date)}}</span>
            </div>
            <div>
              <span>From [{{comment.geolocation}}]</span>
            </div>
          </ion-card-content>
          <ion-button *ngIf="!hideDelete" color="danger" (click)="handleDeleteAlert(comment._id!)">
            Delete
          </ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </article>
</section>