#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.filterForm {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 1rem;
}

.filterContainer {
  display: grid;
  place-items: center;
  margin: 1rem;
}

.filterItem {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.songContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}