<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SpotiApp (PONER UN LOGO)
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isLoggedIn" (click)="showAddSong()">
        Add song
      </ion-button>
      <ion-button *ngIf="isLoggedIn" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
      <ion-button *ngIf="!isLoggedIn" (click)="showLogin()">
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="filterContainer">
    <div class="filterForm">
      <div class="filterItem">
        <input type="radio" name="tipoBusqueda" value="nombre" [(ngModel)]="tipoBusqueda" (change)="resetTerminoBusqueda()" />
        <label>Name</label>
      </div>
      <div class="filterItem">
        <input type="radio" name="tipoBusqueda" value="artista" [(ngModel)]="tipoBusqueda" (change)="resetTerminoBusqueda()" />
        <label>Artist</label>
      </div>
      <div class="filterItem">
        <input type="radio" name="tipoBusqueda" value="fecha" [(ngModel)]="tipoBusqueda" (change)="resetTerminoBusqueda()" />
        <label>Date</label>
      </div>
      <div *ngIf="this.isLoggedIn" class="filterItem">
        <input type="radio" name="tipoBusqueda" value="spotify" [(ngModel)]="tipoBusqueda" (change)="resetTerminoBusqueda()" />
        <label>Use Spotify</label>
      </div>
      <div class="filterItem">
        <input id="searchInput" type="text" [(ngModel)]="terminoBusqueda" *ngIf="tipoBusqueda !== 'fecha'" placeholder="Search"/>
        <input  type="date" [(ngModel)]="terminoBusqueda" *ngIf="tipoBusqueda === 'fecha'"/>
        <button id="searchBtn" (click)="buscar()">Search</button>
      </div>
    </div>
    <div>
      <div *ngIf="this.songs.length > 0">
        <div *ngIf="tipoBusqueda == 'spotify'">
          <ion-button [disabled]="!areSongsSelected()" (click)="addSelectedSongs()">Add selected songs</ion-button>
        </div>
        <div class="songContainer">
          <ion-card *ngFor="let song of this.songs">
            <ion-img [src]="song.image"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ song.name }}</ion-card-title>
              <ion-card-subtitle>{{ song.artist }}</ion-card-subtitle>
              <ion-button (click)="goToSongDetail(song._id!)">Details</ion-button>
            </ion-card-header>
          </ion-card>
        </div>
        <!--<ion-list>
          <ion-item *ngFor="let song of this.songs">
            <img src="{{song.image}}" alt="Could not load image"/>
            <ion-label>
              <h2>{{ song.name }}</h2>
              <p>{{ song.artist }}</p>
            </ion-label>
            <input *ngIf="tipoBusqueda == 'spotify'" type="checkbox" [checked]="selectedSongs!.get(song)" (change)="selectSong(song)">
            <ion-button *ngIf="tipoBusqueda != 'spotify'" (click)="goToSongDetail(song._id!)">View</ion-button>
          </ion-item>
        </ion-list>-->
      </div>
      <div *ngIf="this.songs.length < 1">
        <h1>There are no songs to display</h1>
      </div>
    </div>
  </div>

</ion-content>
